body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*horizzon */
    background-color: black;
}

#parent {
    text-align: center;
    /* vertical */
    margin: 1%;
    height: 650px;
    /* border: 1px solid black; */
    padding-top: 45px;
}

#parent>div {
    /* border: 1px solid black; */
    margin: auto;
    width: 80%;
    height: 95%;
}

div>h2 {
    text-align: center;
}

p+input[type="password"] {
    display: grid;
    text-align: center;
    width: 100%;
    padding-bottom: 7%;
    margin-bottom: 5%;
}

div+button {
    width: 100%;
    height: 8%;
    /* border: 1px solid black; */
    margin-bottom: 5%;
}

#MOBILE {
    width: 100%;
    height: 8%;
    border: 1px solid black;
    margin-bottom: 5%;
    background-color: white;
}

#Next {
    background-color: #4b5666;
    border: 1px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px;
}

#Next:hover {
    background-color: white;
    color: black;
}

#MOBILE:hover {
    background-color: #4b5666;
    color: white;
}

#back:hover {
    background-color: #4b5666;
    color: white;
}

#back {
    border: 1px solid black;
    width: 100%;
    height: 8%;
    background-color: white;
    padding: 8px;
}

#bottom {
    margin: auto;
}

#ACCOUNT {
    border: 1px solid black;
    width: 100%;
    height: 8%;
    background-color: white;
}

#ACCOUNT:hover {
    background-color: #4b5666;
    color: white;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus,
.btn-success:focus-within,
.btn-success:target,
.btn-success:focus-visible,
.btn-success::after {
    width: 100%;
    background-color: white !important;
    color: gray !important;
    border-color: white !important;
    border: 1px !important;
    box-shadow: none !important;
}

#medium {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 22px;
    text-align: center;
    font-family: "avenir medium", sans-serif;
    color: #26262c;
    margin: 0 0px 0px 20px;
    padding: 0px 0px 10px
}

@font-face {
    font-family: 'Avenir medium';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

h2 {
    font-family: 'Avenir medium', sans-serif;
}

p {
    text-align: center;
    font-size: 13px;
    color: #5c5c5f;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#ShowPassword {
    display: flex;
    border: none;
    background-color: white;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 15px;
    text-decoration: underline;
    color: #abd3bd;
}

#getpassword {
    display: grid;
    text-align: center;
    width: 100%;
    padding: 0%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding: 8px;
}

#ShowPassword:hover {
    text-decoration: none;
}

#passwordsection {
    display: flex;
    margin-top: -15px;
    margin-bottom: 15px;
}

svg {
    color: var(--link-text);
    color: #abd3bd;
}

#forgotbtn {
    background-color: white;
    border: none;
    font-size: 13px;
    color: #abd3bd;
    text-decoration: underline;
}

#forgotbtn:hover {
    text-decoration: none;
}

#gotoright {
    /* position: relative; */
    position: absolute;
    right: 8%;
    top: 3%;
    /* margin-right: -26%; */
    font-size: 25px;
}

.modal-backdrop {
    background-image: url('https://i.postimg.cc/g0qtWrvx/2022-09-08.png');
}