#Confirm_Email_By_CodeID {
    display: flex;
    justify-content: center;
    align-items: center;
    /*horizzon */
}

#parent {
    text-align: center;
    /* vertical */
    margin: 1%;
    height: 520px;
    /* border: 1px solid black; */
    padding-top: 45px;
}

#parent>div {
    /* border: 1px solid black; */
    margin: auto;
    width: 80%;
    height: 95%;
}

div>h2 {
    text-align: center;
}

p+input[type="text"] {
    width: 100%;
    padding: 0%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

div+button {
    width: 100%;
    height: 8%;
    /* border: 1px solid black; */
    margin-bottom: 5%;
}

#MOBILE {
    width: 100%;
    height: 8%;
    border: 1px solid black;
    margin-bottom: 5%;
    background-color: white;
}

#Next {
    background-color: #4b5666;
    border: 1px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#Next:hover {
    background-color: white;
    color: gray;
}

#MOBILE:hover {
    background-color: #4b5666;
    color: white;
}

#bottom {
    margin: auto;
}

#ACCOUNT {
    border: 1px solid black;
    width: 100%;
    height: 8%;
    background-color: white;
}

#ACCOUNT:hover {
    background-color: #4b5666;
    color: white;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus,
.btn-success:focus-within,
.btn-success:target,
.btn-success:focus-visible,
.btn-success::after {
    width: 100%;
    background-color: white !important;
    color: gray !important;
    border-color: white !important;
    border: 1px !important;
    box-shadow: none !important;
}

#medium {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#finish {
    font-size: 22px;
    text-align: center;
    font-family: "avenir medium", sans-serif;
    color: #26262c;
    margin: 0 0px 0px 20px;
    padding: 0px 0px 10px
}

@font-face {
    font-family: 'Avenir medium';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

#finish {
    font-family: 'Avenir medium', sans-serif;
}

.para1 {
    text-align: center;
    font-size: 11px;
    color: #5c5c5f;
}

#wrong {
    text-align: left;
    font-size: 13px;
}

#term {
    text-align: left;
}

#last {
    margin: 5px;
    padding-left: 20px;
}

#footer,
#editmail {
    color: #8ebde5;
}

#verification {
    font-size: 13px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#inpnum {
    display: grid;
    text-align: center;
    width: 100%;
    padding: 0%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding: 5px;
}

#getmail {
    font-size: 13px;
    color: black;
}

#fine {
    font-size: 11px;
    display: flex;
}