* {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    /* change to position to fixed*/
    position: static;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

#about {
    width: 90%;
    margin: auto;
    /* padding: 20px 40px; */
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

#about>h3 {
    font-weight: normal;
    /* border: 2px solid red; */
}


.readMore {
    font-size: 14px;
}

#about>h3 {
    margin: 20px 0px;
    /* border: 2px solid red; */
}

#about>p {
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 14.5px;
    /* border: 2px solid red; */
}

#parentbox {
    display: flex;
    width: 90%;
    margin: 30px;
    margin-left: 55px;
    justify-content: space-around;
    /* border: 2px solid red; */
}

#child1 {
    width: 55%;
    margin-left: 5px;
    /* border: 2px solid red; */
}

#child1>p {
    font-size: 14.5px;
    /* border: 2px solid red; */
}

#child1>h3 {
    margin-bottom: 15px;
    font-weight: normal;
    /* border: 2px solid red; */
}



#child2 {
    margin-left: 10%;
    width: 75%;
    /* border: 2px solid red; */
}

#child2>p {
    margin-bottom: 10px;
    padding-right: 0px;
    /* border: 2px solid red; */
}

#responsiveChild2 {
    display: none;
}

.inputEmail {
    width: 70%;
    height: 38px;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    /* border: 2px solid red; */
}



#btn_signupMail {
    padding: 13px 35px;
    background-color: rgb(75 85 102);
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
    color: white;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

#btn_signupMail:hover {
    background-color: white;
    color: rgb(75 85 102);
}

.paraOutOfParentBox {
    width: 90%;
    margin: auto;
    font-size: 13px;
    margin-left: 55px;
    margin-bottom: 25px;
    line-height: 20px;
    /* border: 2px solid red; */
}

.contentBox {
    display: flex;
    width: 70%;
    margin: auto;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 20%;
    margin-top: 3%;
    /* border: 2px solid red; */
}

.responsiveDropDown {
    display: none;
}

.help>ul,
.aboutUs>ul,
.services>ul,
.connect>ul,
.locator-mail>ul {
    margin-top: 20px;
}

.help>ul>li,
.aboutUs>ul>li,
.services>ul>li,
.connect>ul>li,
.locator-mail>ul>li {
    list-style: none;
    margin-bottom: 10px;
}

.help>ul>li>a,
.aboutUs>ul>li>a,
.services>ul>li>a,
.connect>ul>li>a,
.locator-mail>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.help>ul>li>a:hover,
.aboutUs>ul>li>a:hover,
.services>ul>li>a:hover,
.connect>ul>li>a:hover,
.locator-mail>ul>li>a:hover {
    text-decoration: underline;
}

.listItems>li {
    color: rgb(22 122 146);
}

.listItems>li>a {
    color: rgb(22 122 146);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid red; */
}

.remLogos {
    display: flex;
    width: 20%;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.remLogos>a:hover {
    color: black;
}


#apple {
    margin-right: 40px;
    /* border: 2px solid red; */
}

.fa-brands {
    font-size: 30px;
    margin-right: 30px;
    /* fill: rgb(22 122 146); */
    /* border: 2px solid red; */
}

#endBar {
    width: 90%;
    height: 101px;
    margin: 25px;
    margin-left: 60px;
    /* border: 2px solid red; */
}

.countries {
    width: 23%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid red; */
}

.countries>a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    /* border: 2px solid red; */
}

.countries>a:hover {
    text-decoration: underline;
}

.countries>a span {
    color: #9ed3f1;
}

.base-tags {
    display: flex;
    width: 90%;
    margin: auto;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
    /* border: 2px solid red; */
}

.terms-conditions>a {
    text-decoration: none;
    color: rgb(22 122 146);
}

.terms-conditions>a span {
    color: #9ed3f1;
}

.terms-conditions>a:hover {
    text-decoration: underline;
}

#forCAResidents {
    color: black;
    /* border: 2px solid red; */
}

#responsiveEndBar {
    display: none;
}

@media screen and (min-width:770px) and (max-width:1024px) {
    * {
        margin: 0%;
        padding: 0%;
    }

    #parentbox {
        width: 90%;
        display: grid;
        margin-left: 40px;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
        grid-template-columns: repeat(1, 1fr);
        /* border: 2px solid red; */
    }

    #child1 {
        min-width: 100%;
        margin: auto;
        /* border: 2px solid red; */
    }

    #child1>p {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        /* border: 2px solid red; */
    }

    #child2 {
        width: 100%;
        margin: auto;
        /* border: 2px solid red; */
    }

    #child2>p {
        margin-bottom: 3px;
    }

    .inputEmail {
        width: 70%;
    }

    #btn_signupMail {
        width: 25%;
    }

    .paraOutOfParentBox {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .countries {
        /* width: 100%; */
        width: 23%;
        margin-left: 35%;
    }

    .base-tags {
        display: grid;
        justify-content: center;
    }

    .terms-conditions {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    #endBar {
        width: 85%;
        margin: auto;
        margin-top: 20px;
        margin-left: 65px;
    }

    .copyRights {
        margin-left: 35%;
    }
}

@media screen and (min-width:250px) and (max-width:769px) {
    .contentBox {
        display: none;
    }

    .responsiveDropDown {
        display: grid;
    }


    .listItems>li {
        margin-left: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .help .fa-thin {
        float: right;
        margin-right: 10px;
    }

    .aboutUs .fa-thin {
        float: right;
        margin-right: 10px;
    }

    .connect .fa-thin {
        float: right;
        margin-right: 10px;
    }

    .services .fa-thin {
        float: right;
        margin-right: 10px;
    }


    .help,
    .aboutUs,
    .connect,
    .services {
        width: 100%;
        margin: auto;
        cursor: pointer;
        display: block;
    }

    .help>p,
    .aboutUs>p,
    .services>p,
    .connect>p {
        padding: 20px;
    }

    .help>label,
    .aboutUs>label,
    .services>label,
    .connect>label {
        display: block;
        padding: 10px 20px;
        cursor: pointer;
    }

    .help>ul,
    .aboutUs>ul,
    .services>ul,
    .connect>ul {
        display: none;
    }

    [id^=btn]:checked~ul {
        display: block;

    }


    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4 {
        display: none;
    }


    .help li,
    .aboutUs li,
    .services li,
    .connect li {
        padding: 5px 20px;
    }

    .logos {
        display: grid;
    }

    .appleLogo {
        width: 20%;
        margin: auto;
        margin-bottom: 20px;
    }

    .remLogos {
        margin-left: 20%;

    }

    .countries {
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        margin-bottom: -10%;
    }

    #endBar {
        display: none;
    }

    #responsiveEndBar {
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        height: 10%;
    }

    #parentbox {
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        align-items: flex-start;
        /* border: 2px solid teal; */
    }

    #child2 {
        display: block;
        width: 100%;
        margin: auto;
        /* border: 2px solid teal; */
    }

    #child1>h3 {
        width: 100%;
        margin: auto;
        margin-left: -5px;
        /* border: 2px solid teal; */
    }

    #child1>p {
        width: 140%;
        margin-left: -5px;
        margin-top: 20px;
        margin-bottom: 20px;
        /* border: 2px solid teal; */
    }

    #child2>p {
        width: 100%;
        /* border: 2px solid teal; */
        margin: auto;
        margin-bottom: 5px;
    }

    .inputEmail {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    #btn_signupMail {
        width: 100%;
        margin: auto;
    }

    .paraOutOfParentBox {
        width: 90%;
        margin: auto;
    }

    .locator-mail li {
        margin-left: 45%;
    }

    .remLogos {
        margin-left: 10%;
    }

    /* #child1 {
        width: 100%;
        margin: auto;
        margin-left: -30px;
        border: 2px solid teal;
    } */

    /* #responsiveChild2 {
        width: 100%;
        display: block; */
    /* margin-left: -30px; */
    /* } */

    /* #responsiveChild2>p {
        width: 50%;
        margin-left: 40px;
        margin-bottom: 10px;
        border: 2px solid teal;
    } */

    /* #responsiveChild2 .inputEmail {
        width: 91%;
        margin-left: 40px;
        box-sizing: border-box;
        margin-bottom: 20px;
    } */

    /* #responsiveChild2 #btn_signupMail {
        width: 91%;
        box-sizing: border-box;
        margin-left: 40px;
    } */

    /* 
    .paraOutOfParentBox {
        margin-left: 40px;
        margin-top: 30px;
    } */

    .base-tags {
        margin-top: 10%;
        align-items: center;
    }

    .terms-conditions {
        text-align: center;
        line-height: 30px;
        justify-content: center;
        align-items: center;
    }


}